DATABASE_URL="mysql://root:password@localhost:3306/chef_registration"
ADMIN_SESSION_SECRET="replace-with-at-least-32-random-characters"
AWS_REGION="ap-southeast-1"
AWS_ACCESS_KEY_ID="your-access-key-id"
AWS_SECRET_ACCESS_KEY="your-secret-access-key"
S3_BUCKET_NAME="chef-registration-receipts"
